<section class="amazonia-care">
  <div class="wrapper">
    <div class="row">
      <div class="amazonia-care-box hidden-xs hidden-sm"></div>
      <div class="col-md-6">
        <img class="bg-icon-cuidador" width="200" height="auto" src="/assets/img/icon-cuidador-care.svg"
          alt="Cuidador de Pessoas">
        <div class="amazonia-care-description">
          Excelência no atendimento com ênfase
          no acompanhamento e bem-estar humano. Nossa equipe é composta
          por profissionais qualificados,
          especializados na área que atuam.
        </div>
        <div class="amazonia-care-list">
          <ul>
            <li>Equipe multidisciplinar</li>
            <li>Acompanhamento 24hs</li>
            <li>Atendimento tecnicamente personalizado.</li>
            <li>Supervisão permanente de enfermeiro e médico</li>
          </ul>
        </div>
      </div>
      <a class="btn-care" href="#">Contrate aqui</a>
    </div>
  </div>
</section>
<!-- end amazonia care -->
<section class="amazonia-csaude">
  <div class="wrapper">
    <div class="row">
      <div class="amazonia-csaude-box hidden-xs hidden-sm"></div>
      <div class="col-md-6">
        <img class="bg-icon-cuidador" width="200" height="auto" src="/assets/img/icon-consultoria-light.svg"
          alt="Cuidador de Pessoas">
        <div class="amazonia-csaude-description">
          Gestão hospitalar, com ênfase na implementação de especialidades médicas. Atendemos 
          tanto à instituições públicas quanto à iniciativa privada. Análises e estudos visando 
          a otimização de recursos e melhorias no atendimento médico
        </div>
        <div class="amazonia-csaude-list">
          <ul>
            <li>Equipe multidisciplinar</li>
            <li>Acompanhamento 24hs</li>
            <li>Atendimento tecnicamente personalizado.</li>
          </ul>
        </div>
      </div>
      <a class="btn-care" href="#">Marque uma reunião</a>
    </div>
  </div>
</section>
<!-- end consultoria em saúde -->