<section class="plano-servicos">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <img width="250" height="auto" src="/assets/img/icon-consultoria.svg" alt="Consultoria em Saúde">
        <div class="servicos-description">
          Somos especialistas em gestão hospitalar, com ênfase na
          implementação de especialidades médicas. Atendemos tanto
          à instituições públicas quanto à iniciativa privada.
          Análises e estudos visando a otimização de recursos
          e melhorias no atendimento médico
        </div>
      </div>
      <div class="col-md-6">
        <!-- <img width="100%" height="auto" src="/assets/img/icon-consultoria.jpeg"> -->
      </div>
    </div>
  </div>
</section>
<img class="bg-medico" src="/assets/img/icon-medico.png" width="700" height="auto">
<div class="bg-plano-servicos">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-medico-1"></div>
    </div>
    <div class="col-md-6">
      <div class="bg-medico-2"></div>
    </div>
  </div>
</div>
<!-- end plano servicos -->
<section class="plano_1">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="menu-servicos">
          <ul>
            <li><a href="#">Equipe multidisciplinar</a></li>
            <li><a href="#">Acompanhamento 24hs</a></li>
            <li><a href="#">Atendimento tecnicamente personalizado.</a></li>
            <li><a href="#">Supervisão permanente de enfermeiro e médico</a></li>
          </ul>
        </div>
      </div>
      <!--<div class="col-md-6">
        <div class="menu-servicos">
          <ul>
            <li><a href="#">Equipe multidisciplinar</a></li>
            <li><a href="#">Acompanhamento 24hs</a></li>
            <li><a href="#">Atendimento tecnicamente personalizado.</a></li>
            <li><a href="#">Supervisão permanente de enfermeiro e médico</a></li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!-- end plano_1 -->
<section class="plano-consultoria">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="bg-cuidador" width="100%" height="auto" src="/assets/img/bg-cuidador.png">
      </div>
      <div class="col-md-6">
        <img class="bg-icon-cuidador" width="250" height="auto" src="/assets/img/icon-cuidador.svg" alt="Consultoria em Saúde">
        <div class="servicos-description">
          Somos especialistas em gestão hospitalar, com ênfase na
          implementação de especialidades médicas. Atendemos tanto
          à instituições públicas quanto à iniciativa privada.
          Análises e estudos visando a otimização de recursos
          e melhorias no atendimento médico
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end plano consultoria -->
<section class="plano_2">
  <div class="wrapper">
    <div class="row">
      <!--<div class="col-md-6">
        <div class="menu-servicos">
          <ul>
            <li><a href="#">Equipe multidisciplinar</a></li>
            <li><a href="#">Acompanhamento 24hs</a></li>
            <li><a href="#">Atendimento tecnicamente personalizado.</a></li>
            <li><a href="#">Supervisão permanente de enfermeiro e médico</a></li>
          </ul>
        </div>
      </div>-->
      <div class="col-md-6">
        <div class="menu-servicos">
        <ul>
          <li><a href="#">Equipe multidisciplinar</a></li>
          <li><a href="#">Acompanhamento 24hs</a></li>
      </ul>
      </div>

      </div>
      <div class="col-md-6">
        <div class="menu-servicos">
        <ul>
            <li><a href="#">Atendimento tecnicamente personalizado.</a></li>
            <li><a href="#">Supervisão permanente de enfermeiro e médico</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end plano_2 -->
