<section class="sobre">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="sobre-description">
          Amazônia Assist,<br> 
          ajudando a cuidar<br> 
          de quem você ama.
        </div>
      </div>
      <div class="bg-sobre">
        <img src="/assets/img/icon-sobre.svg" alt="Sobre">
      </div>
    </div>
  </div>
</section>
<!-- end sobre -->
<div class="bg-top"></div>
<section class="valores">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="valores-title">Missão</div>
        <div class="valores-description">
          Oferecer serviços de excelência em saúde,
          proporcionando cuidado humanizado, sempre
          valorizando a vida, priorizando o conhecimento
          e a sustentabilidade.
        </div>
      </div>
      <div class="col-md-4">
        <div class="valores-title">Visão</div>
        <div class="valores-description">
          Trazer soluções inovadoras e criar pontes entre
          profissionais, melhorando a qualidade de vida
          de nossos clientes.
        </div>
      </div>
      <div class="col-md-4">
        <div class="valores-title">Valores</div>
        <div class="valores-description">
          Ético, científico e educativo em todas as nossas
          atividades. Respeito ao ser humano, ao meio ambiente
          e à sociedade inseridos no contexto da saúde.
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-bottom"></div>
<!-- end valores -->
<section class="atuacao">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <img class="bg-atuacao" src="/assets/img/icon-atuacao.svg" alt="Areas Atuação">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="atuacao-title">Uma história de inovação.</div>
          <div class="atuacao-description">
            Durante os anos e depois de muitas 
            viagens, observamos a necessidade latente 
            nos diversos municípios do estado do Pará 
            em oferecer uma saúde digna à sua 
            população. Com a ausência de especialidades 
            médicas essenciais, muitas das vezes 
            o enfermo era obrigado a se deslocar 
            à capital. 
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="atuacao-description">
          Com base nisso alguns profissionais tiveram a ideia de oferecer e implementar, 
          seja nos hospitais municipais e particulares, seja para as próprias  Secretarias 
          Municipais de Saúde, uma consultoria especializada que visa diminuir o número de 
          tratamento médico fora da cidade-origem, resultando assim uma série de benefícios 
          para o paciente e, também, para o município. Nasce assim a Amazônia Assist 
          Consultoria em Saúde.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end atuação -->
<section class="qualidade-vida">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="qualidade-vida-title">Foco na qualidade de vida.</div>
        <div class="qualidade-vida-description">
          Buscando naturalmente a evolução dos seus serviços e atentos às 
          necessidades existentes na área da saúde, em 2020 criamos mais 
          uma frente de trabalho, o Serviço de Cuidadores de Pessoas. 
        </div>
        <div class="qualidade-vida-description">
          Tendo na excelência dos serviços e cientes não apenas da necessidade 
          desse importante serviço, mas da grande responsabilidade que ele exige, 
          criamos o nosso próprio protocolo de atendimento, onde não apenas a 
          seleção dos profissionais que atuarão, como toda a sistemática do cuidar 
          é tratada com o mais alto nível de exigência, observando todos os critérios 
          técnicos, profissionais e éticos. 
        </div>
        <div class="qualidade-vida-description">
          Oferecemos um serviço completo, que tem na arte do cuidar o respeito 
          que o paciente precisa em um momento frágil da sua vida.
        </div>
      </div>
      <div class="qualidade-vida-box hidden-xs hidden-sm"></div>
    </div>
  </div>
</section>
<!-- end qualidade vida  -->
<section class="educando-crescendo">
  <div class="wrapper">
    <div class="row">
      <div class="educando-crescendo-box hidden-xs hidden-sm"></div>
      <div class="col-md-6">
        <div class="educando-crescendo-title">Educando e crescendo.</div>
        <div class="educando-crescendo-description">
          Atuamos também na área da educação através de cursos continuados e voltados 
          exclusivamente para alunos que cursam medicina.  
        </div>
        <div class="educando-crescendo-description">
          Periodicamente trazemos à Belém professores renomados em áreas específicas e importantes 
          para a formação do profissional médico, contribuindo significativamente para o seu currículo, 
          haja vista tais cursos serem ofertados somente fora do estado. 
        </div>
        <div class="educando-crescendo-description">
          Contribuímos assim para a especialização do médico paraense, permitindo que o conhecimento 
          adquirido fique e seja aplicado em nosso estado, à nossa população.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end educando crescendo -->

