<section class="sobre">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="sobre-title">Compromisso com a qualidade</div>
        <div class="sobre-description">
          A Amazônia Assist é uma empresa genuinamente paraense, fruto de uma experiência bem-sucedida de diversos
          profissionais, principalmente médicos, que se reuniram a mais de 10 anos atrás para fazer o bem ao próximo
          através de ações sociais direcionadas aos que mais precisam, como moradores de áreas rurais, ribeirinhos e
          comunidades indígenas, inclusive.

        </div>
        <div class="sobre-description">
          Durante os anos e depois de muitas viagens, observando a necessidade latente nos diversos municípios de nosso
          estado em oferecer uma saúde digna à sua população, demonstrado na ausência de especialidades médicas
          essenciais, muitas das vezes obrigando o enfermo deslocar-se à capital, alguns profissionais tiveram a ideia
          de oferecer e implementar, seja nos hospitais municipais e particulares, seja para as próprias Secretarias
          Municipais de Saúde, uma consultoria especializada que visa diminuir o número de tratamento médico fora da
          cidade-origem, resultando assim uma série de benefícios para o paciente e, também, para o município. Nasce
          assim a Amazônia Assist Saúde, Consultoria Médica.

        </div>
        <div class="sobre-description">
          Buscando naturalmente a evolução dos seus serviços e atentos às necessidades existentes na área da saúde, em
          2020 a Amazônia Assist cria mais uma frente de trabalho, o Serviço de Cuidadores de Pessoas. Tendo na
          excelência dos serviços e cientes não apenas da necessidade desse importante serviço, mas da grande
          responsabilidade que ele exige, a Amazônia Assist cria o seu próprio protocolo de atendimento, onde não apenas
          a seleção dos profissionais que atuarão, como toda a sistemática do cuidar é tratada com o mais alto nível de
          exigência, observando todos os critérios técnicos, profissionais e éticos. Com isso, oferecemos assim um
          serviço completo, que tem na arte do cuidar o respeito que o paciente precisa em um momento frágil da sua
          vida.

        </div>

        <div class="sobre-description">
          Completando o rol de serviços oferecidos pela Amazônia Assist, atuamos também na área da educação através de
          cursos continuados e voltados exclusivamente para alunos que cursam medicina. Periodicamente trazemos à Belém
          professores renomados em áreas específicas e importantes para a formação do profissional médico, contribuindo
          significativamente para o seu currículo, haja vista tais cursos serem ofertados somente fora do estado. Com
          isso contribuímos para a especialização do médico paraense, permitindo que o conhecimento adquirido fique e
          seja aplicado em nosso estado, à nossa população.

        </div>
      </div>
      <div class="bg-sobre">
        <img src="/assets/img/icon-sobre.svg" alt="Sobre">
      </div>
    </div>
  </div>
</section>
<!-- end sobre -->
<div class="bg-top"></div>
<section class="valores">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="valores-title">Missão</div>
        <div class="valores-description">
          Oferecer serviços de excelência em saúde,
          proporcionando cuidado humanizado, sempre
          valorizando a vida, priorizando o conhecimento
          e a sustentabilidade.
        </div>
      </div>
      <div class="col-md-4">
        <div class="valores-title">Visão</div>
        <div class="valores-description">
          Trazer soluções inovadoras e criar pontes entre
          profissionais, melhorando a qualidade de vida
          de nossos clientes.
        </div>
      </div>
      <div class="col-md-4">
        <div class="valores-title">Valores</div>
        <div class="valores-description">
          Ético, científico e educativo em todas as nossas
          atividades. Respeito ao ser humano, ao meio ambiente
          e à sociedade inseridos no contexto da saúde.
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-bottom"></div>
<!-- end valores -->
<section class="atuacao">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <img class="bg-atuacao" src="/assets/img/icon-atuacao.svg" alt="Areas Atuação">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="atuacao-title">Áreas de atuação</div>
          <div class="atuacao-description">
            Atuamos em 2 frentes principais, focando no cuidado especial para
            idosos e portadores de necessidades especiais e em consultoria
            médica com as ferramentas necessárias para auxiliar na gestão de saúde
          </div>
        </div>
        <div class="col-md-6">
          <img class="bg-icon-cuidador" width="200" height="auto" src="/assets/img/icon-cuidador.svg"
            alt="Cuidador de Pessoas">
        </div>
        <div class="col-md-6">
          <img class="bg-icon-consultoria" width="187" height="auto" src="/assets/img/icon-consultoria.svg"
            alt="Consultoria em Saúde">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end atuação -->
