<section class="newsletter">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <img class="icon-newsletter" src="/assets/img/icon-envelope.svg" alt="newsletter">
      </div>
      <div class="col-md-6">
        <div class="newsletter-title">Newsletter</div>
        <div class="newsletter-description">Receba as últimas notícias e<br> novos projetos em seu e-mail</div>
        <!--<input class="input-newsletter" placeholder="Nome" type="text">-->

        <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="seu e-mail">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="fa fa-paper-plane"></span>Enviar</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
      </div>
    </div>

  </div>
</section>
