<div class="footer">
  <div class="wrapper">
    <div class="row footer-mobile">
      <div class="col-md-4">
        <img class="logo-footer" src="/assets/img/logo-footer.svg" width="200" height="auto" alt="logo footer">
        <div class="footer-description">
          Todos os direitos reservados 2020 <br>
          +55 91 99300-1798 <br>
          falecom@amazoniassist.com.br
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-title">Explore</div>
        <div class="menu-footer">
          <ul>
            <li><a (click)="goHeader()" routerLink="/home">Home</a></li>
            <li><a (click)="goHeader()" routerLink="/sobre">Sobre</a></li>
            <li><a (click)="goHeader()" routerLink="/servicos">Serviços</a></li>
            <li><a (click)="goHeader()" routerLink="/contato">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-title">Visite</div>
        <div class="footer-description">
          Av. Presidente Vargas, 158<br>
          Ed. Associação Comercial do Pará, Sala 603<br>
          Campina - Belém - PA <br>
          CEP 66.010-000<br>
          (91) 3199 1970<br>
          (91) 3199 1980<br>
          (91) 99300-1798<br>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-title">Social</div>
        <div class="menu-footer">
          <ul>
            <li><a href="https://www.instagram.com/amazoniassist/" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/amazoniassist" target="_blank">Facebook</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="line"><img src="/assets/img/logo-copyright.svg" alt="copyright"></div>
    </div>-->
  </div>
</div>
