<section class="banner">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-title">
          <div class="green">Amazônia Assist,<br></div>
          ajudando a cuidar<br>
          de quem você ama.</div>
      </div>
    </div>
  </div>
</section>
<!-- end banner -->
<section class="planos">
  <div class="row">
    <div class="col-md-6">
      <div class="bg1">
        <div class="box1">
          <img width="265" height="auto" src="/assets/img/icon-cuidador-light.svg" alt="Cuidador de Pessoas">
          <div class="transparencia"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bg2">
        <div class="box2">
          <img class="bg-icon-consultoria" width="250" height="auto" src="/assets/img/icon-consultoria-light.svg" alt="Consultoria em Saúde">
          <div class="transparencia"></div>
        </div>
      </div>
    </div>
  </div>
</section>
